<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <dataProviderSettings dataProviderType="Device"/>

  <databaseSettings influxDbUrl="http://localhost:8086/"
                    userName="backend"
                    password="backend"
                    dbName="co2"/>

  <slackSettings chatId="C521WE9KL"
                 notifyPeriod="00:10:00"
                 delayOnErrorTime="00:00:04"
                 errorAttemptsThreshold="7"/>

  <csvManageSettings updatePeriod="00:00:25"
                     dataBreakTime="00:00:55"
                     zgRootFolder="d:\_devnull\CO2\"/>

  <hidManageSettings deviceVendorId="1241"
                     deviceProductId="41042"
                     updatePeriod="00:00:25"/>

</configuration>